@model WebApplication1.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";

}


@if (!Request.IsAuthenticated)
{<div class="row">
        <div class="col-md-4">
            <h1 style="font-weight:bold">
                Welcome to our Management Application
            </h1>
        </div>
    </div>

}
@if (User.IsInRole("Admin"))
{
    Html.RenderAction("Index", "Admin");
    Layout = null;
}
@if (User.IsInRole("Staff"))
{
    Html.RenderAction("Index", "Staff");
    Layout = null;
}
@if (User.IsInRole("Trainer"))
{
    Html.RenderAction("Index", "Trainer");
    Layout = null;
}
@if (User.IsInRole("Trainee"))
{
    Html.RenderAction("Index", "Trainee");
    Layout = null;
}


