@model WebApplication1.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
}

@if (!Request.IsAuthenticated)
{
    <h1>
        Welcome to our Management Application
    </h1>
}
@if (User.IsInRole("Admin"))
{
    <h1>Welcome Admin</h1>
}
@if (User.IsInRole("Staff"))
{
    <h1>Welcome Training Staff</h1>
}
@if (User.IsInRole("Trainer"))
{
    <h1>Welcome Trainer</h1>
}
@if (User.IsInRole("Trainee"))
{
    <h1>Welcome Trainee</h1>
}


