@model WebApplication1.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@if (!Request.IsAuthenticated)
{
    <h1>
        Welcome to our Management Application
    </h1>
}
@if (User.IsInRole("Admin"))
{
    Html.RenderAction("Index", "Admin");
}
@if (User.IsInRole("Staff"))
{
    Html.RenderAction("Index", "Staff");
}
@if (User.IsInRole("Trainer"))
{
    Html.RenderAction("Index", "Trainer");
}
@if (User.IsInRole("Trainee"))
{
    Html.RenderAction("Index","Trainee");
}


