@model WebApplication1.Models.ResignTraineeViewModel
@{
    ViewBag.Title = "ResignTraineeFromCourse";
}

<h2>ResignTraineeFromCourse</h2>

@foreach(var item in Model)
{
    using (Html.BeginForm("ResignTraineeFromCourse", "Staff", new { @id = },FormMethod.Get,new { @class = "form-control" }))
    {

    }
}